.mywork{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 120px 170px;
}
.mywork-title{
  position: relative;
}
.mywork-title h1{
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
}
.mywork-title img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.mywork-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.mywork-container img{
  box-sizing: border-box;
  width: 400px;
  height: 220px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;
}
.mywork-container img:hover{
  transform: scale(1.06);
  border: 3px solid #0072ff;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}
.mywork-showmore{
  display: flex;
  gap: 15px;
  border-radius: 50px;
  border: 2px solid white;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 80px;
  transition: 0.6s ease-in-out;
  cursor: pointer;
}
.mywork-showmore:hover{
  gap: 30px;
  transition: 0.6s ease-in-out;
}
@media (max-width: 768px) {
  .mywork{
    gap: 50px;
    margin: 80px 35px;
    align-items: start;
    margin-bottom: 120px;
  }
  .mywork-title h1{
    padding: 0;
    font-size: 30px;
    font-weight: 600;
  }
  .mywork-title img{
    width: 120px;
    margin-right: -20px;
  }
  .mywork-container{
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .mywork-container img{
    width: 100%;
    height: 100%;
  }
  .mywork-showmore{
    padding: 12px 20px;
    font-size: 16px;
    margin: 50px auto;
    cursor: pointer;
    margin: 10px 20px;
  }
  
}

@media (min-width:768px) and (max-width:1220px) {
  .mywork{
    margin: 80px 100px;
  }
  .mywork-title h1{
    font-size: 50px;
  }
  .mywork-title img{
    width: 150px;
  }
  .mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  } 
  .mywork-container img{
    width: 330px;
    height: 210px;
  }

}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease-in-out;
}
.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}