.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
  margin: 80px 170px;
}
.about-title{
  position: relative;
}
.about-title h1{
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
}
.about-title img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.about-title .heading-about{
  font-size: 60px;
  font-weight: 700;
  color: #fafbfc;
}

.about-title .head-line{
  display: block;
  height: 8px;
  width: 100px;
  background: linear-gradient(267deg, #00d4ff  0.36%, #0072ff);
  margin: 10px auto 10px auto;
  border-radius: 50px;
}
.about-section{
  display: flex;
  gap: 80px;
}
.about-left{
  /* width: 500px; */
  width: 1050px;
  height: 420px;
  overflow: hidden;
}
.about-left img{
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
  scale: calc(1.5);
}
.about-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.about-para{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
}
.about-skills{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about-skill{
  display: flex;
  gap: 40px;
  align-items: center;
  transition: 0.3s;
}
.about-skill p{
  min-width: 150px;
  font-size: 20px;
  font-weight: 500;
}
.about-skill hr{
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(267deg, #00d4ff  0.36%, #0072ff);
}
.about-achievements{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 80px;
}
.about-achievement{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}
.about-achievement h1{
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(267deg, #00d4ff  0.36%, #0072ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-achievement p{
  font-size: 20px;
  font-weight: 500;
}
.about-skill:hover{
  transform: scale(1.05);
  transition: 0.3s;
}
.about-achievement:hover{
  transform: scale(1.05);
  transition: 0.3s;
}
@media (max-width: 768px) {
  .about{
    gap: 30px;
    margin: 20px 30px;
    align-items: start;
  }
  .about-title h1{
    font-size: 40px;
    padding: 0;
  }
  .about-title img{
    width: 130px;
    right: -20px;
  }
  .about-left{
    display: none;
  }
  .about-section{
    flex-direction: column;
  }
  .about-para{
    font-size: 18px;
    line-height: 32px;
  }
  .about-skill{
    gap: 2px;
    align-items: center;
    
  }
  .about-skill p{
    font-size: 18px;
  }
  .about-skill hr{
    height: 6px;
  }
  .about-achievements{
    justify-content: space-between;
  }
  .about-achievement{
    gap: 10px;
  }
  .about-achievement h1{
    font-size: 30px;
    font-weight: 700;
  }
  .about-achievement p{
    text-align: center;
    font-size: 14px;
  }
}
@media (min-width:768px) and (max-width:1220px) {
  .about{
    margin: 80px 100px;
  }
  .about-section{
    flex-direction: column;
  }
  .about-left{
    width: 400px;
    height: 450px;
  }
  .about-achievement p{
    font-size: 18px;
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease-in-out;
}
.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}