.contact{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  margin: 80px 170px;
}
.contact-title{
  position: relative;
}
.contact-title h1{
  padding: 0px 30px;
  font-size: 60px;
  font-weight: 600;
}
.contact-title img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.contact-section{
  display: flex;
  gap: 150px;
}
.contact-left{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-left h1{
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(267deg, #00d4ff  0.36%, #0072ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-left p{
  max-width: 550px;
  color: white;
  font-size: 20px;
  line-height: 35px;

}
.contact-details{
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #00d4ff;
  font-size: 20px;
}
.contact-detail{
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-detail p{
  font-size: 1rem;
}
.contact-right{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contact-right label{
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.contact-right input{
  border: none;
  width: 700px;
  height: 55px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #A0A0A0;
  font-family: 'outfit';
  font-size: 20px;
}
.contact-right textarea{
  width: 650px;
  height: 200px;
  border: none;
  padding: 25px;
  border-radius: 4px;
  background: #32323c;
  color: #A0A0A0;
  font-family: 'outfit';
  font-size: 20px;
}
.contact-submit{
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(267deg, #00d4ff  0.36%, #0072ff);
  font-size: 20px;
  padding: 12px 35px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.contact-submit:hover{
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .contact{
    gap: 20px;
    margin: 20px 30px;
    align-items: start;
  }
  .contact-title h1{
    padding: 0;
    font-size: 30px;
    font-size: 600;
  }
  .contact-title img{
    width: 130px;
    margin-right: -20px;
  }
  .contact-section{
    flex-direction: column;
    gap: 70px;
  }
  .contact-details{
    gap: 5px;
  }
  .contact-left h1{
    font-size: 30px;
  }
  .contact-left p{
    font-size: 16px;
  }
  .contact-detail{
    gap: 20px;
  }
  .contact-detail img{
    width: 20px;
  }
  .contact-right label{
    font-size: 16px;
  }
  .contact-right input{
    width: 95%;
    font-size: 16px;
  }
  .contact-right textarea{
    padding: 15px;
    width: 90%;
    height: 150px;
    font-size: 16px;
  }
  .contact-submit{
    font-size: 18px;
    padding: 12px 30px;
  }
}

@media (min-width:768px) and (max-width:1220px) {
  .contact{
    margin: 80px 100px;
  }
  .contact-section{
    gap: 50px;
    display: flex;
    flex-direction: column;
  }
  .contact-left p{
    max-width: 950px;
    color: white;
    font-size: 20px;
    line-height: 35px;
  
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease-in-out;
}
.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}