.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
}
.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  font-size:  20px;
}

.nav-connect{
  padding: 10px 20px;
  border-radius: 50px;
  /* background: linear-gradient(267deg, #DA7c25 0.36%, #B923E1); */
  background: linear-gradient(267deg, #00d4ff  0.36%, #0072ff);
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover{
  transform: scale(1.05);
}
.nav-menu li{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.nav-menu li img{
  display: flex;
  margin: auto;
}
.anchor-link{
  text-decoration: none;
  color: white;
}
.nav-mob-close{
  display: none;
}
.nav-mob-open{
  display: none;
}

/* for navlink underline */
.nav-menu li {
  position: relative;
}

.nav-menu li p {
  display: inline-block;
  padding-bottom: 5px;
  transition: border-bottom 0.3s ease-in-out;
}

.nav-menu li.active p {
  border-bottom: 3px solid rgb(11, 138, 206);
}



@media (max-width: 768px) {
  .navbar{
    margin: 20px 20px;
  }
  .mylogo{
    width: 130px;
  }
  .nav-connect{
    display: none;
  }
  .nav-mob-open{
    display: block;
    /* position: fixed; */
    position: sticky;
    right: 30px;
    cursor: pointer;
  }
  .nav-mob-close{
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
    cursor: pointer;
  }
  .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    /* background: #1F0016; */
    /* background: linear-gradient(267deg, #00d4ff  0.36%, #0072ff); */
    background: linear-gradient(267deg, #000f12 0.36%, #000);
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;

  }
  
  .nav-menu li{
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }

}

@media (min-width:768px) and (max-width:1220px) {
  .navbar{
    margin: 20px 30px;
    gap: 25px;
  }
  .mylogo{
    width: 110px;
  }
  .nav-menu li{
    font-size: 16px;
  }
  .nav-menu{
    gap: 25px;
  }
  .nav-connect{
    font-size: 15px;
  }

}